<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="mainContainer">
    <h1>Budget Planner</h1>
    <div class="container_1">
    <h2><%= user.userName %>, your total budget for this month is</h2><!--totalbudget needs to be defined for this to work-->
    </div>
    <div class="itemContainer">
    <ul>
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter item" name='todoItem'>
        <input type="text" placeholder="Enter price" name='itemPrice'>
        <input type="submit">
    </form>
    

    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span>Cost = </span>
                <button class='del'> Delete </button>
            </li>
    <% }) %>    
    </ul>
    </div>
    <div class="container_2">
    <h2><%= user.userName %> has <%= left %> balance</h2>

    


   <button class="logout"><a href="/logout">Logout</a></button>
    </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>